:host {
  width: 100%;
}
.btn-next {
    float: right;
}

as-split-gutter {
  height: initial !important;
}
as-split-area {
  height: 100% !important;
  overflow: hidden !important;
}

span.shell-status {
    border: 1px solid #ccc;
    background-color: white;
}

// clr-col-md
@media all and (max-width: 992px) {
  #terminal-column {
    height: calc(50% - 60px);
  }
  #sidebar {
    height: calc(50%) !important;
  }

}

#step-navigator {
  display: flex;
  align-items: center;
  button {
    margin: 0;
  }
}
#step-counter {
  flex-grow: 2;
  text-align: center;
}


table {
    margin-top: 0;
}

.progress span {
  margin-top: -0.5em;
}
.progress {
  margin-bottom: 1rem;
}

#sidebar {
  margin: 0;
  height: calc(100% - 60px);
  display: flex;
  flex-flow: column;
}
#sidebar .card-header {
  padding-top: 0;
  flex: 0 1 auto;
}
#sidebar .card-block {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
}
#sidebar .card-footer {
  flex: 0 1 40px;
  position: relative;
}


#scenario-name {
  text-align: center;
  padding-bottom: 1rem;
}
.card-text {
  padding-bottom: 2rem;
}
